body {
  font-family: Arial, sans-serif;
  font-size: medium;
  /* Background image (1920x1080) */



  
  min-height: 100vh;
}

#photo-box{
    /* the div is placed to the left */
    position: relative;
    left: -400px;
    top: -58px;

    /* center and flex according to screen */
  margin-top: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  position: relative;

  /* div border and transparent background */
  border: 2px rgba(255, 255, 255, 0.6); /* Orange border */
  background-color: rgba(255, 255, 255, 0.6); /* Transparent white */
  padding: 5px;
  border-radius: 10px; /* Optional: rounded corners */
  width: 240px;
  height: 230px;
  margin: 50px auto;
  


}

#photo-box img {
  width: 70%;
  height: auto;
  border-radius: 6px;
  margin-top: -20px;

}

#photo-box p {
    position: absolute;
    top: 110px;
}


#weatherinterp {
    position: relative;
    left: -400px;

    /* center and flex according to screen */
  margin-top: -75px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  position: relative;
}

#weatherinterp img {
    width: 250px;
    height: 220px;
    border-radius: 6px;
}


#weatherinterp p {
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translateX(-50%);
  font-size: 18px;
  padding: 5px 10px;
  border-radius: 5px;
  text-align: center;
}

#rightbigbox {
    /* the div is placed to the left */
    position: relative;
    left: 230px;
    top: -546px;

    /* center and flex according to screen */
  margin-top: 120px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  position: relative;

  /* div border and transparent background */
  border: 2px rgba(255, 255, 255, 0.6); /* Orange border */
  background-color: rgba(255, 255, 255, 0.6); /* Transparent white */
  padding: 10px;
  border-radius: 10px; /* Optional: rounded corners */
  width: 700px;
  height: 476px;
  margin: 50px auto;
}


.smallbox {
  position: absolute;
  
  top: 20px;     /* Distance from the top of the big box */
  left: 20px;   /* Distance from the right side */
  padding: 10px;
  font-size: 14px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);

  background-color: rgba(255, 255, 255, 0.3);
  padding: 20px;
  border-radius:6px;
  width: 40%;
  height: 40%;
  text-align: center;
}

.big-box-image-left {
  width: 70%;       /* Adjust size as needed */
  height: auto;
  margin-top: 10px;   /* Adds space between text and image */
  border-radius: 4px; /* Optional: rounded corners */
}

.image-right-page {
  position: absolute;
  top: 75px;       /* Adjust vertical position */
  right: 8%;      /* Push to the right edge */
  width: 20%;     /* Adjust size */
  height: auto;
  border-radius: 8px;
  z-index: 10;      /* Make sure it sits above other elements */
}
